# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Local Alfred
init/Alfred.alfredpreferences/clipboard/snippets.alfdb
init/Alfred.alfredpreferences/preferences/local
init/Alfred.alfredpreferences/remote/
init/Alfred.alfredpreferences/workflows/

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# My extra settings
.extra
